<div class="mx-1 card " style="width: 20rem; height: 35rem;">
    @if (black == true) {
      <p class="card-text mt-2"><img src="https://s3.amazonaws.com/fms-live/6e81a742-855b-11ee-ac69-bad00e64229f.png" alt="OfertaBlack"></p>
    }
    <img src="{{img}}" class="card-img-top" alt="..." style="width: 17rem; height: 100%;">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text mt-2 d-inline-flex" style="text-decoration-line: line-through; color: grey;">${{price}}</p><p class="d-inline-flex mx-2">  {{porcentaje}}%</p>
      <p class="card-text text-danger">${{priceDiscount}}</p>
      <img src="{{imgf}}" class="{{style_img}}" alt=""> <button type="button" class="btn btn-warning" style="margin-left: 140px;" onclick="addToCart('Nuevo item')" >Añadir</button>
    </div>
  </div>
